@CHARSET "ISO-8859-1";
body
{
	margin: auto;
	margin-top: 15px;
	width: 660px;
}
.clientList
{
	float: left;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
	background: #CCCCCC;
	border: 1px solid #999999;
	padding: 10px;
	font: 12px 'arial lucida grande',tahoma,verdana,arial,sans-serif;
}

.clientList .clientListHeader 
{
	background: #FFFFFF;
	overflow: auto;
	padding: 10px;
	border: 1px solid #999999;
}

.clientList .list 
{
	background: #FFFFFF;
	height: 150px;
	overflow: auto;
	padding: 6px;
	border: 1px solid #999999;
}

.chatWrapper
{
	float: right;
	width: 500px;
	background: #CCCCCC;
	border: 1px solid #999999;
	padding: 10px;
	font: 12px 'arial lucida grande',tahoma,verdana,arial,sans-serif;
}

.chatWrapper .messageBox
{
	background: #FFFFFF;
	height: 150px;
	overflow: auto;
	padding: 10px;
	border: 1px solid #999999;
}

.chatWrapper .panel
{
	padding: 10px 0 0 0;
}

.chatWrapper .panel input
{
	padding: 2px 2px 2px 5px;
	border: 1px solid #999999;
}

.chatWrapper .panel #name
{
	width: 100px;
}

.chatWrapper .panel #message
{
	width: 300px;
}

.chatWrapper .panel #sendBtn
{
	width: 80px;
}

.systemMessage
{
	color: #BDBDBD;
	font-style: italic;
}

.userName
{
	font-weight: bold;
}

.userMessage
{
	color: #88B6E0;
}